<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/about.jpg" />
</div>
<div class="col-lg-3 col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/about.jpg" />
</div>
<div class="col-lg-6 col-md-6 col-xs-12 right-col">
    <h1>about us</h1>
    <div id="copy">
        <p>all therapists at restoration bodywork are licensed by the state of arizona to practice as professional massage therapists. in arizona, a massage therapist/bodyworker can be licensed with 500 hours of training. your therapist has completed a program with a minimum of 800 hours of training.</p>

        <p>all therapists at restoration bodywork are member os the associated bodywork and massage professionals (ABMP). your therapist is proud to uphold the standards of practice and code of ethics of the association.</p>

        <p>to better serve our clientèle, all therapists at restoration bodywork are required to fulfill an additional 20% more continuing education hours than is required by the state of arizona.</p>
    </div>
</div>
