<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/contraindications.jpg" />
</div>
<div class="col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/contraindications.jpg" />
</div>
<div class="col-md-6 col-xs-12 right-col">
    <h1>contraindications</h1>
    <div id="copy">
        <div id="scroll">
            <p>massage therapy and related bodywork modalities are non-invasive, relaxing, and natural.  it is therefore generally considered a safe treatment for most people.  however, there are three types of contraindications.   a contraindication is a condition or factor that increases risk to a client or therapist.  a total contraindication, is when massage/bodywork should not be performed at all.  a local contraindication, when massage/bodywork can be performed except over the affected or contraindicated areas..  a medical contraindication, when massage/bodywork can only be performed once medical permission has been granted.</p>

            <p>the following restrictions are in place to protect your health and well-being.  thank you for taking them as seriously as we do.</p>

            <h2>total contraindications</h2>

            <p>when you have any of these conditions, please do not receive bodywork if you present any of these:</p>
            <ul class="list">
                <li>fever</li>
                <li>contagious or infectious diseases, including any cold or flu, no matter how mild it may seem.</li>
                <li>under the influence of drugs or alcohol- including prescription pain medication </li>
                <li>recent operations or acute injuries </li>
                <li>neuritis </li>
                <li>skin diseases</li>
            </ul>

            <h2>local contraindications</h2>

            <p>the therapist can perform massage/bodywork but not over any areas affected by:</p>
            <ul class="list">
                <li>varicose veins</li>
                <li>cuts</li>
                <li>undiagnosed lumps or bumps</li>
                <li>sunburn</li>
                <li>pregnancy</li>
                <li>inflammation, including arthritis</li>
                <li>bruising or abrasions</li>
                <li>undiagnosed pain</li>
            </ul>

            <h2>medical contraindications</h2>

            <p>a treatment release, signed by your primary care physician must be received before receiving treatment if you have been diagnosed with any of the following:</p>
            <ul class="list">
                <li>cancer</li>
                <li>pregnancy</li>
                <li>hiv/aids</li>
            </ul>
            </textarea>
        </div>
    </div>
</div>