<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/policies.jpg" />
</div>
<div class="col-lg-3 col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/policies.jpg" />
</div>
<div class="col-lg-6 col-md-6 col-xs-12 right-col">
    <h1>first-time clients</h1>
    <div id="copy">
        <p>if you are new to restoration bodywork & massage therapy, please arrive 15 minutes prior to your first scheduled appointment time.  this will allow you the time to complete the first time client form and your therapist to complete an intake interview with you.  (the first time client form is also downloadable below.)  at this time you and your therapist will review your health history, your objective in receiving massage therapy/bodywork and your goals for this session.  your therapist will then leave the room to allow you to undress in private.</p>

        <p>after undressing, please get onto the table and under the top sheet.  you should feel free to remove as much or as little of your clothing as you like.  you, the client, are fully draped.  this means the only part of your body that will be temporarily exposed is where bodywork is being performed at that particular moment.  your therapist generally works with soft music playing, but will gladly change the music to suit your personal taste or work in silence if you prefer.</p>

        <p>your therapist will check in with you about pressure, temperature, and general comfort.  but please remember that only you can feel what is going on inside your body.  you must inform your therapist if anything is painful or uncomfortable.  when your session is over, your therapist will again leave the room to allow you to get dressed.</p>

        <p>your progress, preferences, and requests will be recorded. all personal information is kept completely confidential. occasionally, and only with your consent, your therapist may consult with other health care professionals about your case. your therapist does not diagnose.</p>

        <br/>
        <button type="button" data-href="/pdfs/first_time_client.pdf" class="btn btn-primary btn-sm download">first-time clients</button>
        <button type="button" data-href="/pdfs/physician_permission.pdf" class="btn btn-primary btn-sm download">physician permission</button>
        <button type="button" data-href="/pdfs/physician_referral.pdf" class="btn btn-primary btn-sm download">physician referral</button>

    </div>
</div>
