<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/links.jpg" />
</div>
<div class="col-lg-3 col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/links.jpg" />
</div>
<div class="col-lg-6 col-md-6 col-xs-12 right-col">
    <h1>links</h1>
    <div id="copy">
        <h2>associated bodywork &amp; massage professionals</h2>
        <p>for additional information about massage therapy and related bodywork modalities</p>
        <p><a href="http://abmp.com" target="_blank" rel="nofollow">Visit Site</a>
        <h2>massage therapy foundation</h2>
        <p>for information about how massage therapy and related bodywork modalities are being used to bring relief to those suffering from a variety of illnesses. syndromes and diseases</p>
        <p><a href="http://www.massagetherapyfoundation.org" target="_blank" rel="nofollow">Visit Site</a>
        <h2>southwest nutraceuticals</h2>
        <p>alternatives to prescription medication</p>
        <p><a href="http://swnutra.com" target="_blank" rel="nofollow">Visit Site</a>
    </div>
</div>

<div ng-include src="'/ngApp/views/partials/footer.html'"></div>