<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/modalities.jpg" />
</div>
<div class="col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/modalities.jpg" />
</div>
<div class="col-md-6 col-xs-12 right-col">
    <h1>modalities</h1>
    <div id="copy">
        <div id="scroll">
            <p>modalities are therapeutic methods that involve the physical treatment of disorders or injuries. the therapists at restoration bodywork are certified to practice the following modalities:</p>

            <ul id="modalities">

                <li><strong>swedish massage:</strong> this treatment will help soothe sore, achy muscles, relieve tension, reduce stress, increase circulation, and promote relaxation. this technique is customized to your needs and can be light, medium or strong [deep] in pressure.</li>

                <li><strong>injury massage:</strong> this treament is area-specific, combining deep tissue for muscle tension and chronc pain with the swedish technique for relaxation. this technique will aid in a thorough reduction of pain and discomfort often created by repetitive movement and stress.</li>

                <li><strong>reflexology:</strong> this treatment utilizes a system of reflex points on the feed [or hands] that relate to or correspond with every major organ, gland and area of the body that you wish to focus on. when pressed, these points can help relieve pain places too sensitive for direct massage, increase relaxation, and relieve stress.</li>

                <li><strong>cranial sacral therapy:</strong> this very subtle treament focuses on the spine, neck, head and face. it is used to release areas of tension, calm overstimulated nerves and support emotional cleansing. this technique can be extremely beneficial to people who suffer with headaches, chronic neck and back pain, and problems related to stress and tension.</li>

                <li><strong>shiatsu:</strong> this treatment is based on the ancient oriental art of using hand and finger pressure along meridian [life energy] pathways. it includes stretching and join rotations. this technique can be extremely effective for stress relief, locomotive and internal disorders. shiatsu stimulates blood circulation, calms the nervous system, and increases mental/physical energy.</li>

                <li><strong>sports massage:</strong> this treamtnet is designed to loosen and warm up your body prior to an athletic event or workout, or to flush out toxins after an athletic event or workout. this technique uses deep tissue strokes, muscle massage, release points, and join movements to improve athletic performance and prevent damage during exercise.</li>

                <li><strong>trigger point therapy:</strong> this treatment employs various methods to relieve and eliminate trigger points in the body. these small, hypersensitive areas in the muscles bombard the nervous system with impulses that give rise to physical and emotional pain. a sense of well-being ensues, as well as release of related emotional stress.</li>

                <li><strong>structural bodywork:</strong> this treatment is a more invasive modality. structural bodywork specifically addresses the manipulation and lengthening of myofascial tissue. this is accomplished through the use of of specific protocols within a bodywork session and homework given by the therapist. a complete structural bodywork series is nine 60-minute sessions.</li>

                <li><strong>lymphatic drainage massage:</strong> this treatment boosts the immune system by improving the flow and removal of lymph and can facilitate general feeligns of health and vitality. it also has a positive physical effect, by improving the appearance of the skin and reducing puffiness caused by water retention, poor circulation or pregnancy. as with other massage, it can help with pain from fractures, sprains and rheumatism, and it promotes the body's own healing mechanisms.</li>

                <li><strong>aromatherapy: </strong> the art and science of the therapeutic use of plant-derived, aromatic essential oils to promote physical and psychological well-being.  used alone or in combination with massage and other therapeutic techniques as part of a holistic treatment approach.</li>
            </ul>
            </textarea>
        </div>
    </div>
</div>