<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/earth.jpg" />
</div>
<div class="col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/earth.jpg" />
</div>
<div class="col-md-6 col-xs-12 right-col">
    <h1>page not found</h1>
    <div id="copy">
        <p>We're sorry, but the page you looking for could not be found.</p>
    </div>
</div>

<div ng-include src="'/ngApp/views/partials/footer.html'"></div>
