<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/new_client.jpg" />
</div>
<div class="col-lg-3 col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/new_client.jpg" />
</div>
<div class="col-lg-6 col-md-6 col-xs-12 right-col">
    <h1>policies</h1>
    <div id="copy">
        <h2>cancellation and late terms</h2>

        <p>in the event you need to cancel your scheduled appointment, please cancel at least 24 hours in advance as a courtesy to your therapist and so that we may accommodate the needs of other clients.  appointments canceled less than 24 hours before an appointment may be subject to a cancellation charge. no-shows will be charged full price.</p>

        <h2>ending a bodywork session</h2>

        <p>we reserve the right to terminate a session because of inappropriate behavior, intoxication, infectious conditions (i.e, flu, poison ivy, etc.), or sexual advances. the client and therapist both have the right to terminate a session if either party is displaying inappropriate behavior. your therapist is sworn to uphold the standards of practice and the code of ethics of the american massage therapy association.</p>

        <p>clients may also stop a session in the first 10 minutes if the quality of the ssession is not meeting their expectations. we ask that you communicate your needs to the therapist and see if they can adjust their work. if the adjustment is not satisfactory, please feel comfortable in asking for the session to be terminated.</p>
    </div>
</div>
