<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/rates.jpg" />
</div>
<div class="col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/rates.jpg" />
</div>
<div class="col-md-6 col-xs-12 right-col">
    <h1>our rates</h1>
    <div id="copy">
        <div id="scroll">
            <!--<h2>outcall</h2>
<p><span class="session">60  minute session</span>   <span class="rate">$75</span></p>
<p><span class="session">75  minute session</span>    <span class="rate">$90</span></p>
<p><span class="session">90  minute session</span>    <span class="rate">$105</span></p>
<p><span class="session">120  minute session</span>  <span class="rate">$135</span></p>   -->

            <h2> in office</h2>
            <p><span class="session">60  minute session</span>    <span class="rate">$90</span></p>
            <p><span class="session">75  minute session</span>    <span class="rate">$105</span></p>
            <p><span class="session">90  minute session</span>    <span class="rate">$120</span></p>
            <p><span class="session">120  minute session</span>  <span class="rate">$150</span></p>

            <h2>aromatherapy consultation</h2>
            <p><span class="session">30 minute session (includes personalized formulations)</span>  <span class="rate">$ 60</span></p>

            <p>rates are subject to change without notice</p>

            <h2>gift certificates</h2>
            <p>gift certificates are available in any denomination.</p>

            <h2>client incentives</h2>
            <p>client referrals are greatly appreciated.  we choose to build our practice by word of mouth because the most effective marketing tool is a satisfied customer.  refer two friends to restoration bodywork and receive our gift of one 60 minute session.  each referral will be similarly rewarded.  please ask your therapist for details.</p>

            <h2>medical referrals</h2>
            <p>rates will be determined on an individual case basis.  please <a href="/contact">call or email</a> for detailed information.</p>

            <h2>payment options</h2>
            <p>payment is due upon services rendered.  we accept cash and personal checks.  returned checks will subject to a $35.00 fee. credit cards are accepted </p>
            </textarea>
        </div>
    </div>
</div>