<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/about.jpg" />
</div>
<div class="col-lg-3 col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/about.jpg" />
</div>
<div class="col-lg-6 col-md-6 col-xs-12 right-col">
    <h1>blog</h1>
    <h2>{{ vm.tag.name }}</h2>
    <div id="copy">

        <div ng-if="vm.posts">
            <div ng-repeat="post in vm.posts">
                <h3>{{ post.title }}</h3>
                <div ng-bind-html="post.body"></div>
            </div>
        </div>
        <div ng-if="!vm.posts">
            <p>Posts not found.</p>
        </div>

    </div>
</div>

<div ng-include src="'/ngApp/views/partials/footer.html'"></div>