<div class="col-md-3 col-xs-12 hidden-md hidden-lg image-slice">
    <img src="/images/centerpieces/therapeutic.jpg" />
</div>
<div class="col-md-3 col-xs-12 hidden-sm hidden-xs center-col">
    <img src="/images/centerpieces/therapeutic.jpg" />
</div>
<div class="col-md-6 col-xs-12 right-col">
    <h1>therapeutic benefits</h1>
    <div id="copy">
        <div id="scroll">
            <p>massage therapy and related bodywork modalities can beneficially affect the physical, mental, and emotional health of the recipient. benefits are clinically proven to increase with the frequency of treatment.<p>

            <h2>physical benefits</h2>
            <ul class="list">
                <li>helps relieve stress and aids relaxation</li>
                <li>helps relieve muscle tension and stiffness</li>
                <li>alleviates discomfort during pregnancy</li>
                <li>fosters faster healing of strained muscles and sprained ligaments</li>
                <li>reduces pain and swelling</li>
                <li>reduces formation of excessive scar tissue</li>
                <li>reduces muscle spasms</li>
                <li>provides greater joint flexibility and range of motion</li>
                <li>enhances athletic performance</li>
                <li>promotes deeper and easier breathing</li>
                <li>improves circulation of blood and movement of lymph fluids</li>
                <li>reduces blood pressure and strengthens the immune system</li>
                <li>helps relieve tension-related headaches and effects of eye-strain</li>
                <li>enhances the health and nourishment of skin</li>
                <li>improves posture</li>
                <li>post operative rehabilitation</li>
            </ul>

            <h2>mental benefits</h2>
            <ul class="list">
                <li>fosters peace of mind</li>
                <li>promotes a relaxed state of mental alertness</li>
                <li>helps relieve mental stress</li>
                <li>improves ability to monitor stress signals and respond appropriately</li>
                <li>enhances capacity for calm thinking and creativity</li>
            </ul>

            <h2>emotional benefits</h2>
            <ul class="list">
                <li>satisfies needs for caring nurturing touch</li>
                <li>fosters a feeling of well-being</li>
                <li>reduces levels of anxiety</li>
                <li>creates body awareness</li>
            </ul>
            </textarea>
        </div>
    </div>
</div>

<div ng-include src="'/ngApp/views/partials/footer.html'"></div>